$dark: #002F2F;
$light: #EFECCA;
$blue: #046380;

@font-face {
  font-family: 'open sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'open sans semibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  cursor: pointer;
}
body{
  font-family:'open sans';
  font-size: 14px;
  background-color: #fff;
}
#index{
  width: 400px;
  height: 600px;
}

.tabsGroup{
  display: flex;
  &:first-child{
    margin-top: 5px;
  }
  &:last-child{
    border-bottom: none;
  }
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 5px;
  border-bottom: 1px solid #cfcfcf;
  >div{
    &:nth-child(1) {
      p[data-title]{
        font-family: "open sans semibold";
        font-size: 18px;
        margin-bottom: 4px;
        color: darken($blue,7%);
      }
      div[data-tabs]{
        >a{
          color:$blue;
          text-decoration: underline;
        }
        padding-bottom: 7px;
      }
      flex-grow: 1;
      div{
        display: inline-block;
        margin-right: 5px;
        p[data-title]{
          font-family: 'open sans semibold';
        }
      }
      img{
        max-height:16px ;
      }
    }
    &:nth-child(2) {
      position: relative;
      top:-3px;
      color:$blue;
      margin-left: 10px;
      height: 100%;
      flex-shrink: 0;
      font-size: 16px;
      align-self: center;
    }
  }
}

.tab{
  display: flex;
  border-top: 1px solid #cfcfcf;
  &:first-child{
    border-top: none;
  }
  padding-top: 10px;
  padding-bottom: 10px;

  >div:nth-child(1){
    flex-shrink: 0;
    align-self: center;
    img{
      padding-left: 6px;
      padding-right: 8px;
      height: 24px;
      border-radius: 50%;
    }
  }
  >div:nth-child(2){
    flex-grow: 1;
    p[data-title]{
      font-family: 'open sans semibold';
      color: darken($blue,7%);
      font-size: 14px;
    }
    a[data-url]{
      font-size: 12px;
      text-decoration: underline;
      color: darken($blue,7%);
      p{
        white-space: nowrap;       /* Перво-наперво, запретим перенос строк */
        overflow: hidden;          /* Скрываем текст, который не помещается в блок */
        text-overflow: ellipsis;   /* Уводим текст в многоточие */
        display: block;            /* Элемент обязательно должен быть блочным */
      }
    }
  }
  >div:nth-child(3){
    flex-shrink: 0;
    align-self: center;
    a{
      color: $blue;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.header-main{
  font-family:'open sans semibold';
  font-size: 16px;
  padding: 5px;
  background-color: #002F2F;
  color: #EFECCA;
}
.header{
  font-family:'open sans semibold';
  font-size: 16px;
  padding: 10px;
  background-color: #002F2F;
  color: #EFECCA;
  >a{
    &:first-child{
      padding-right: 10px;
    }
  }
}

.button{
  background-color: $dark;
  color:$light;
  border-radius: 2px;
}
.cancel{
  background-color: #333;
}

.textBox{
  padding: 3px;
  border: 1px solid $dark;
  width: 100%;
}
.pr10{
  padding-right: 10px;
}
.p5{
  padding: 5px;
}
.p10{
  padding: 10px;
}
.plr10{
  padding-left: 10px;
  padding-right: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.regular{
  font-family: 'open sans';
}

*[layout-vertical]{
  display: flex;
  flex-direction: column;
}
*[layout-horizontal]{
  display: flex;
}
*[shrink0]{
  flex-shrink: 0;
}
*[stretch]{
  flex-grow: 1;
}
*[full]{
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $dark;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}